.quoteHeader {
    background: var(--background-secondary-alt);
}
.quoteMessages {
    background: var(--background-secondary);
    padding: 12px 0;
    max-height: 30vh;
    overflow: hidden auto;
    cursor: default;
}

.modifiedQuote {
    margin: 0 8px 0 4px;
}
.modifiedQuote:not(.stackedQuote) {
    padding-top: 4px;
}
.modifiedQuote:hover {
    background: var(--background-modifier-hover);
}
.quoteMessages .divider-3573oO {
    margin: 10px 0;
}

.removeQuote {
    position: relative;
    top: -30px;
    height: 0;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    visibility: hidden;
    margin-right: 5px;
}
.removeQuote:hover {
    --interactive-normal: #f04747;
}
.removeQuote > div {
    height: 24px;
}
.modifiedQuote:hover > .removeQuote {
    visibility: visible;
}

.quoterPreview img {
    z-index: 0;
}
.quoterFlexSwitch {
    flex: 1 1 auto;
    margin-top: 32px;
}
.quoterFlexSwitch .divider-3573oO {
    margin-top: 28px;
}
