.quoteContainer {
    position: relative;
    padding-bottom: 5px;
    padding-top: 5px;
}
.modifiedQuote {
    margin: 5px 0px 5px 0px;
    background-color: var(--background-primary);
}
.removeQuotes {
    position: absolute;
    right: 0;
    top: -10px;
    cursor: pointer;
}
.removeGroupQuote {
    position: relative;
    left: -3px;
    width: 24px;
}
.removeQuote {
    position: relative;
    top: -30px;
    height: 0;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    visibility: hidden;
}
.removeQuote:hover {
    --interactive-normal: #f04747;
}
.removeQuote > div {
    height: 24px;
}
.modifiedQuote:hover > .removeQuote {
    visibility: visible;
}
.quoterPreview img {
    z-index: 0;
}

.quoterFlexSwitch {
    flex: 1 1 auto;
    margin-top: 32px;
}
.quoterFlexSwitch .divider-3573oO {
    margin-top: 28px;
}
