.quoteContainer {
    position: relative;
    padding-bottom: 5px;
    padding-top: 5px;
}
.modifiedQuote {
    margin: 5px 0px 5px 0px;
    background-color: var(--background-primary);
}
.removeQuotes {
    position: absolute;
    right: 0;
    top: -10px;
    cursor: pointer;
}
.removeQuote {
    position: relative;
    left: -3px;
    width: 24px;
}
.removeStackedQuote {
    position: relative;
    top: -30px;
    height: 0;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    visibility: hidden;
}
.removeStackedQuote > div {
    height: 24px;
}
.modifiedQuote:hover > .removeStackedQuote {
    visibility: visible;
}
